@import '../../../styles.scss';

.video {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

.match-info {
    font-family: 'Nunito', sans-serif;
    color: $highlight-text-col;
}

.match-info h2,
.match-info h3 {
    margin: 0;
}

.match-info p {
    font-weight: 800;
}

.highlight {
    margin-top: 4rem;
}

.date-filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 1rem;
}

.date-filter-btn-container {
    margin: 0.25rem 0.25rem;
}

.date-filter-btn {
    border: 1px solid $highlight-text-col;
    background-color: $site-background-col;
    color: $highlight-text-col;
    min-width: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.date-filter-btn:hover,
.date-filter-btn:focus,
.date-selected {
    cursor: pointer;
    box-shadow: inset 0 0 0 2em $highlight-text-col;
    color: $site-background-col;
}

.team-filter-container {
    width: fit-content;
    margin: 0 auto;
}

.search-btn-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 2rem auto;
    border-radius: 10px;
    border: 3px solid $highlight-text-col;
    background: $site-background-col;
}

.search-filter-lbl {
    display: flex;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: $highlight-text-col;
    height: 100%;
    align-items: center;
    padding: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"] {
    appearance: none;
    display: none;
}

input[type=radio]:checked + label {
    background: $highlight-text-col;
    color: $site-background-col;
}