.video {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

.match-info {
    font-family: 'Nunito', sans-serif;
    color: rgb(27, 173, 173);
}

.match-info h2,
.match-info h3 {
    margin: 0;
}

.match-info p {
    font-weight: 800;
}

.highlight {
    margin-top: 1rem;
}