<header>
    <div class="flex">
        <div class="text-align">
            <h1 class="site-title" routerLink="">The Beautiful Game</h1>
        </div>
        <nav>
            <ul class="nav-list flex">
                <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/latest-highlights">Latest Highlights</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="">League Highlights</a></li>
            </ul>
        </nav>
    </div>
</header>